name: matrix-historian

services:
  app:
    image: weepingdogel/matrix-historian:api-server-v1.0-alpha
    ports:
      - "8001:8000"
    volumes:
      - sqlite_data:/app/app/db
    restart: always
    environment:
      - MATRIX_HOMESERVER=https://your_matrix_home_server
      - MATRIX_USER=${MATRIX_USER:-your_matrix_user}
      - MATRIX_PASSWORD=${MATRIX_PASSWORD:-your_matrix_password}
      - DATABASE_URL=sqlite:///app/db/database.db # By default
      - GROQ_API_KEY=${GROQ_API_KEY:-your_groq_api_key}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/api/v1/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  sqlite_data:
